/**
  KF STARTERPACK - 2019
  https://github.com/kevinfavergeaud
 */

$primary:#fff;
$secondary:#000;

// Bases
@import "Bases/mixins";
@import "Bases/bases";
@import "Bases/btn";

// Elements
@import "Elements/nav";
@import "Elements/header";
@import "Elements/intro";
@import "Elements/block";
@import "Elements/sections";
@import "Elements/footer";

// Libs
// @import "Libs/animate";